
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url(../src/components/CreateTask/CreateTask.css);
@import url(../src/components/EditTask/EditTask.css);
@import url(../src/components/TaskDisplay/TaskDisplay.css);

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F4E0B9;
    display: flex;
    justify-content: center;
}

.Todolist-contain {
    align-items: center;
    
}

h1 {
    margin-top: 135px;
    font-size: 73px;
    text-align: center;
}



.TaskForm {
    display: flex;
    justify-content: center;
    
}

.Task-Content {
    border-radius: 12px;
    border: 3px solid #334155;
    box-shadow: 0px 4px 10px 5px rgb(0, 0, 0 , 25%);
    width: 746px;
    min-height: 389px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);

}

.form-task {
    display: flex;
    justify-content: center;
    margin-top: 93px;
}

.task-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.task-length {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

/* Mobile */
@media screen and (max-width: 600px) {

    .Task-Content {
        width: 380px;
        transition: all 0.5s;
    }


    .form-create {
        display: flex;
        justify-content: center;
        width: 350px;
        transition: all 0.5s;
    }
    
    .input-task {
        width: 300px;
        display: flex;
        justify-content: center;
        text-indent: 10px;
        transition: all 0.5s;

    }
    .task-box {
        margin-left: 50px;
        width: 350px;
        transition: all 0.5s;
    }

    .task-list {
        width: 330px;
        transition: all 0.5s;
    }

    .edit {
        display: flex;
        justify-content: center;
        width: 365px;
        margin-left: -60px;
        transition: all 0.5s;

    }

    .Form-edit {
        width: 330px;
        transition: all 0.5s;

    }
    .task-length {
        font-size: 22px;
        transition: all 0.5s;
    }
    
  }

  /* @media only screen and (min-width: 768px) {
    .Task-Content {
        width: 600px;
        transition: all 0.5s;
    }


    .form-create {
        display: flex;
        justify-content: center;
        width: 450px;
        transition: all 0.5s;
    }
    
    .input-task {
        width: 300px;
        display: flex;
        justify-content: center;
        text-indent: 10px;
        transition: all 0.5s;

    }
    .task-box {
        margin-left: 150px;
        width: 450px;
        display: flex;
        transition: all 0.5s;
    }

    .task-list {
        width: 450px;
        transition: all 0.5s;
    }

    .edit {
        display: flex;
        justify-content: center;
        width: 520px;
        transition: all 0.5s;

    }

    .input-edit {
        width: 300px;
    }

    .Form-edit {
        display: flex;
        justify-content: center;
        width: 530px;
        transition: all 0.5s;

    }
  } */