.task-box {
  display: flex;
  width: 530px;
  height: auto;
  background-color: #64748b;
  border-radius: 12px;
  align-items: center;
  text-indent: 20px;
  margin-top: 30px;
  justify-content: space-between;
  
}


.content-task  {
  color: white;
  display:contents;
  margin-left: 20px;
  overflow: hidden;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  margin-right: 19px;
}

.btn-edit {
  outline: none;
  border: none;
  background: inherit;
}

.btn-remove {
  background: inherit;
  outline: none;
  border: none;
  height: 29.34px;
  width: 32.33px;
}

.content-show {
  font-size: 20px;
  
}

.checkbox {
  margin-left: 30px;
  width: 24px !important;
  height : 24px !important;
}


.title-task {
  display: flex;
  align-items: center;
  overflow: hidden;
  /* margin-top: 0.01px; */
  height: 88px;
}